<h1>Ranked Datasets</h1>
<ul>
	<li>Datasets ranked based on user weighed metrics</li>
</ul>
<ul>
	<li>
		<form class="example-form">
			<mat-form-field class="example-full-width">
				<input matInput placeholder="Choose Dataset" [matAutocomplete]="auto" [formControl]="stateCtrl">
				<mat-autocomplete #auto="matAutocomplete">
					<mat-option (click)="setLabel(dataset['Dataset-PLD'])" routerLink="/details/{{fixedEncodeURI(dataset['Dataset-PLD'])}}"
					 *ngFor="let dataset of filteredDatasets | async" [value]="dataset['Dataset-PLD']">
						<span>{{ dataset['Dataset-PLD'] }}</span> |
						<strong><small>{{precise(dataset['Rank-Value']*100)}}%</small></strong>
					</mat-option>
				</mat-autocomplete>
			</mat-form-field>
		</form>
	</li>
</ul>
<div class="center" *ngIf="showSpinner">
	<mat-spinner></mat-spinner>
</div>
<ul>
	<li *ngFor="let dataset of users$">
		<a (click)="setLabel(dataset['Dataset-PLD'])" routerLink="/details/{{fixedEncodeURI(dataset['Dataset-PLD'])}}">
			{{dataset['Dataset-PLD']}}</a>
		<ul>
			<li><strong>{{precise(dataset['Rank-Value']*100)}}%</strong></li>
			<li><a href="{{dataset.dataset}}" target="_blank">{{dataset['Dataset-PLD']}}</a></li>
		</ul>
	</li>
</ul>