.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.center {
     position: relative;
  /* Adjust these values accordingly */
  top: 5px;
  left: 50%;
}