<h1 mat-dialog-title>Select Thresholds for Metrics</h1>
<div mat-dialog-content>
	<ul>
		<div *ngFor="let metric of data.metrics; let m=index">
				<h3 class="Quality">{{metric['Metric-Label']}}<mat-slider thumbLabel tickInterval="auto" min="0" [max]="100" step="1"  [(ngModel)]="metric.weight"></mat-slider></h3>{{metric.weight}}
		</div>
	</ul>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()"> No Thanks </button>
  <button mat-button [mat-dialog-close]="data.metrics" cdkFocusInitial> Ok </button>
</div>