
.column {
    float: left;
    width: 50%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
     margin-left:auto;
  margin-right:auto;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #DCDCDC;
    text-align: centre;
    padding: 8px;
}


a span{
font-size: 0.7em;
text-decoration: none;
color:#117a9c;
}

