<ul>
	<li>
		
 		<h2>{{metric['Metric-Label']}}</h2>
 		<p><strong>Category</strong> : {{metric['Category']}}</p>
 		<p><strong>Dimension</strong> : {{metric['Dimension']}}</p>
 		<p><strong>Type :</strong> {{metric['Observations'][0]['Value-Type']}}</p>
 		<p><strong>Date Computed :</strong> {{metric['Observations'][0]['Date-Computed']}}</p>
 		<p><strong>Graph-URI :</strong> {{metric['Observations'][0]['Graph-URI']}}</p>
 		<p><strong>Comment :</strong><br> {{comment}}</p>

 		<div *ngIf="ETU">
	 		<p><strong>Estimation-Technique-Used : </strong>
	 			<a class="ET-link" href="{{profileProperties['Estimation-Technique-Used']}}" disabled="!(profileProperties['Estimation-Technique-Used-ValueType']=='URI')" target="_blank"><span>{{profileProperties['Estimation-Technique-Used']}}</span></a>
	 		</p>
	 	</div>
	 	<div *ngIf="EP">
	 		<table>
			  <tr>
			    <td>Key</td>
			    <td>Value</td>
			  </tr>
			 <tr *ngFor="let par of profileProperties['Estimation-Parameter']">	
			    <td>   {{par.Key}}   </td>
			    <td>   {{par.Value}} </td>
			  </tr>
			</table>
 		</div>
	</li>
	<li>
		<ul>
			<li>
				<div class="row">
					<div [hidden]="hideTripleChart">
						<div class="column" *ngIf="barChart">
							<h4>Triples Assessed</h4>
							<canvas id="bar">{{barChart}}</canvas>
						</div>
					</div>
			  		<div class="column" *ngIf="donut" style="float:middle;">
			  			<h4>Quality</h4>
			  				<canvas id="donut1">{{ donut }}</canvas>
			 		</div>
				</div>
			</li>

			<li>
				<h4>Progress Over Time</h4>
				<div *ngIf="chart">
					<canvas id="line1">{{chart}}</canvas>
				</div>
			</li>
		</ul>
	</li>
</ul>








