.example-radio-button{
	padding: 10px
}

.slider{
	padding: 20px
}

.center {
  position: relative;
  /* Adjust these values accordingly */
  top: 5px;
  left: 50%;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
