<ul><li><h1>Luzzu - Data Quality Assessment Framework</h1></li></ul>

<ul>
    				<li><h5>Luzzu is a Quality Assessment Framework for Linked Open Datasets. It is a generic framework based on the Dataset Quality Ontology (daQ), allowing users to define their own quality metrics. We aim to provide an integrated platform that:</h5></li>
	    			<li>
						Assesses Linked Data quality using a library of generic and user-provided domain specific quality metrics in a scalable manner;
					</li>
					<li>Provides queryable quality metadata on the assessed datasets;</li>
					<li>Assembles detailed quality reports on assessed datasets.</li>
</ul>
    	

