<h1>Profile</h1>
<ul>
	<li><h2>{{label}}</h2></li>
	<li>
		<h3>Details</h3>
		<div><h4>Number of tuples</h4>24003428924</div>
		<div><h4>Assessment Logs</h4>24th January 2017<br>3rd March 2017</div>
	</li>
	<li>
		<h3>Radar Chart</h3>
		<div *ngIf="radarChart">
			<canvas id="radar1">{{radarChart}}</canvas>
		</div>
	</li>
	<li>
		<h3>Bar Chart</h3>
		<div *ngIf="barChart">
			<canvas id="bar1">{{barChart}}</canvas>
		</div>
	</li>
</ul>


<ul>
	
</ul>


<ul>
	<li>
		<h3>Visualisation of Metric Over Time</h3>
		<div>
			<form class="example-form">
	  			<mat-form-field class="example-full-width">
	    			<input type="text" placeholder="Choose a metric" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
	    				<mat-autocomplete #auto="matAutocomplete">
	      					<mat-option (click)=metricVis(option) *ngFor="let option of metricURIs" [value]="option">
	        					{{ option.slice(30) }}
	      					</mat-option>
	   					 </mat-autocomplete>
	  			</mat-form-field>
			</form>
		</div>
		<ul>
			<li>
				<div *ngIf="chart">
					<canvas id="canvas">{{chart}}</canvas>
				</div>
			</li>
		</ul>
	</li>
</ul>


<ul>
	<ul><li (click)="showMetrics=!showMetrics"><h3>Metrics</h3></li></ul>
	<div *ngIf="showMetrics">
		<div  *ngFor="let metric of quality_metrics; let i=index" (click)="quality_metrics[i].show=!quality_metrics[i].show"><li *ngIf="metric.latestValue>0 && metric.latestValue<100">{{metric.name}}
			<h5>{{metric.latestValue}}</h5>
			<mat-progress-bar mode="determinate" [value]="quality_metrics[i].latestValue"></mat-progress-bar>
			
			<div *ngIf="quality_metrics[i].show">
				<ul>
				<h4>Comment</h4>
			"Provides a measure of the redundancy of the dataset at the data level, computed as the ratio of the Number of Unique Subjects to the Total Number of Subjects"
			</ul>
			</div>
		</li>
		</div>
	</div>
</ul>
