
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.progress-bar{
  padding-top: 10px;
  margin-top:20px;
}

.example-full-width {
  width: 100%;
}

.material-icons {
  position: relative;
  /* Adjust these values accordingly */
  top: 5px;
  left: 0px;
}

.column1 {
    float: left;
    width: 38%;
    padding:5px;
}

.column2 {
	float: right;
    width: 60%;
    padding:5px
}


.Container {
    display: flex;
    overflow: hidden;
    height: 85vh;
    margin-top: -100px;
    padding-top: 100px;
    position: relative;
    width: 100%;
    backface-visibility: hidden;
    will-change: overflow;
}
/*All the scrollable sections should overflow and be whatever height they need to be. As they are flex-items (due to being inside a flex container) they could be made to stretch full height at all times if needed.
WebKit inertia scrolling is being added here for any present/future devices that are able to make use of it.
*/
.Left,
.Middle,
.Right {
    overflow: auto;
    height: auto;
    padding: .5rem;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}

/*  Left and Right are set sizes while the Middle is set to flex one so it occupies all remaining space. This could be set as a width too if prefereable, perhaps using calc.*/
.Left {
    width: 25rem;
}

.Middle {
    flex: 1;
}

.selected-value {
  margin: 15px 0;
  padding: 5px
}

.FilterFields {
    margin: 15px 0;
  padding: 5px
}

.ThresholdText {
  float:right;
  color: #A1C181;
}

.VisChoices{
  height: 100%;
    padding: 0;
    margin: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
  display: flex;
  align-items: center;

}

.Download-box {
  display: flex;
  height: 100%;
  justify-content: space-evenly;
  //padding:30px;
}

.material-icons {
  margin-bottom: 0.5em; 
  margin-right: 0.5em;
}

a span{
font-size: 0.4em;
text-decoration: none;
color:#A9A9A9;
padding:10px
}

//Table CSS for Integer and Boolean Tables
.mat-sort-header-container {
  align-items: center;
}

table {
    font-family: 'Montserrat', sans-serif;
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

td {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 2;
  padding: 8px;
}

th {
  position: relative;
  font-family: 'Montserrat', sans-serif;

   padding: 8px;
    font-size: 16px;
  color: #fff;
  line-height: 2;
  background-color: #283593;
  text-align: center;
}

table td:hover {
  background-color: #303F9F;
  color: #fff
}

table tr:hover {
  background-color: #5262bc;
  color: #fff,
}

.list{
  padding:6px;
}

